<% layout("/layouts/boilerplate") %>
<style>
  #filters{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  }
  #filters i{
  color: #222020;
  
  }
  
  .filters{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
    text-decoration: none;
  }
  .filters:hover{
    opacity: 1;
    cursor: pointer ;
  }
  .filters p{
   font-size: 0.8rem;
  }
  .filters a{
   text-decoration: none;
   color: #222020;
  }

  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    margin-top: 1rem;
    height: 3.2rem;
    padding: 1rem;
    margin-left: 350px;
  }


</style>
<div id="filters">


    <div  class="filters">
      <a 
      href="/category/trending">
      <div >
        <i class="fa-solid fa-fire"></i>
      </div>
      <p>Trending</p>
    </a>
    </div>
  
  <div class="filters">
    <a 
      href="/category/rooms">
    <div >
      <i class="fa-solid fa-bed"></i>
    </div>
    <p>Rooms</p>
    </a>
  </div>
  <div class="filters">
    <a 
      href="/category/iconic-cities">
    <div >
      <i class="fa-solid fa-mountain-city"></i>
    </div>
    <p>Iconic Cities</p>
    </a>
  </div>
  <div class="filters">
    <a 
      href="/category/mountains">
    <div >
      <i class="fa-solid fa-mountain"></i>
    </div>
    <p>Mountains</p>
    </a>
  </div>
 
  <div class="filters">
    <a 
    
      href="/category/pools">
    <div >
      <i class="fa-solid fa-person-swimming"></i>
    </div>
    <p>Amazing Pools</p>
    </a>
  </div>
  <div class="filters">
    <a 
      href="/category/campings">
    <div >
      <i class="fa-solid fa-campground"></i>
    </div>
    <p>Campings</p>
    </a>
  </div>
  <div class="filters">
    <a 
      href="/category/farms">
    <div >
      <i class="fa-solid fa-tractor"></i>
    </div>
    <p>Farms</p>
    </a>
  </div>
  <div class="tax-toggle ">
    <div class="form-check-reverse form-switch">
      <input type="checkbox"
      class="form-check-input" role="switch"
      id="flexSwitchCheckDefault"/>
      <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
    </div>
  </div>
</div>

 

  <div class="row row-cols-lg-3 row-cols-sm-1 mt-3">
  
    <% listings.forEach(listing => { %>
      <a class="listing-link" href="/listings/<%=listing._id%>">
        <div   class=" card-main card col listing-card" >
          <img src="<%=listing.image.url%>" class="card-img-top" style="height:17rem"  alt="listing_image">
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b><br/>
              ₹<%= listing.price.toLocaleString("en-IN") %>/ night
              <i class="tax-info" > &nbsp; &nbsp; +18% GST</i>
            </p>
          </div>
        </div>
      </a>
      
     <% } )%>
  </div>
  
 

<script>
  
   let taxSwitch=document.getElementById("flexSwitchCheckDefault");
   taxSwitch.addEventListener("click",()=>{
  
    let taxInfo=document.getElementsByClassName("tax-info");
    console.log(taxInfo);

    for(info of taxInfo){

      if( info.style.display!="inline"){
      info.style.display="inline";
    
      }
      else{
        info.style.display="none";
      }
    }
   })
 
</script>
