<% layout("/layouts/boilerplate") %>

<h3 style="text-align:center; margin-top:2rem;">Oops Something went wrong!🫤 </h3>
<br>
<div class="row">
  
     <div class="alert alert-danger col-6 offset-3" role="alert">
      

      <h5 class="alert-heading" ><%=err.message%></h5>
      <!-- <p><%=err.stack%></p> -->
     </div>
</div>